.wrapper
  -# ヘッダー
  = render "sheard/header"
  -# メニュー
  .menu
    - flash.each do |key, value|
      = content_tag :div, value, class: key
    - if user_signed_in?
      .btn-list
        =link_to worktime_path(current_user.id), class: "btn",data: {"turbolinks": false} do
          勤怠状況
        =link_to reasons_path, class: "btn",data: {"turbolinks": false} do
          休日事由
        =link_to root_path, class: "btn",data: {"turbolinks": false} do
          月間実績
    - else
      .btn-list
        =link_to new_user_registration_path, class: "btn",data: {"turbolinks": false} do
          新規アカウントの作成
        =link_to new_user_session_path, class: "btn", data: {"turbolinks": false} do
          ログイン
