
.body {
  display: flex
}

a {
  text-decoration: none;
  color: $color_white;
}

* {
  box-sizing: border-box;
}


.wrapper {
  .header {
    height: 80px;
    width: 100%;
    background-color: $side_color_cyan;
    .box {
      justify-content: space-between;
      display: flex;
      line-height: 80px;
      font-size: 3rem;
      &__text {
        color: $color_white;
      }
      &__list {
        display: flex;
        list-style: none;
        &__item {
          margin-right: 1.5rem;
        }
      }
    }
  }

  .menu {
    background-color: $side_color_blue_light;
    width: 100%;
    height: calc(100vh - 80px);
    padding-top: 20px;
    overflow: scroll;
    .btn-list {
      .btn {
        font-size: 2rem;
        display: block;
        cursor: pointer;
        max-width: 420px;
        margin: 0 auto 30px;
        padding: 20px 20px;
        border-radius: 50px;
        text-align: center;
        text-decoration: inherit;
        background: #4682b4;
        box-shadow: 0 6px 0 #336699, 0 12px 0 rgba(0,0,0,.2);
        transition: color .3s, background .3s, box-shadow .3s, transform 0.3s;
      }
      .btn:hover {
        background: #3e62ad;
        box-shadow: 0 3px 0 #243d5c, 0 6px 0 rgba(0,0,0,.2);
        transform: translateY(3px);
      }
      .btn:active {
        color: #ddd;
        background: #336699;
        box-shadow: 0 0 0 #202f55, 0 0 0 rgba(0,0,0,.2);
        transform: translateY(6px);
        transition-duration: .1s;
      }
    }
  }

}
