.reason {
  background-color: $side_color_blue_light;
  width: 100%;
  height: calc(100vh - 80px);
  padding-top: 20px;
  overflow: scroll;

  form {
    text-align: center;

    input[type='submit'] {
      color: $color_white;
      font-size: 2rem;
      display: block;
      cursor: pointer;
      margin: 5px auto 30px;
      padding: 15px 35px;
      border-radius: 50px;
      text-align: center;
      text-decoration: inherit;
      background: #4682b4;
      box-shadow: 0 6px 0 #336699, 0 12px 0 rgba(0,0,0,.2);
      transition: color .3s, background .3s, box-shadow .3s, transform 0.3s;
      outline:none;
      border-style: none;
    }
    input[type='submit']:hover {
      background: #3e62ad;
      box-shadow: 0 3px 0 #243d5c, 0 6px 0 rgba(0,0,0,.2);
      transform: translateY(3px);
    }
    input[type='submit']:active {
      background: #336699;
      box-shadow: 0 0 0 #202f55, 0 0 0 rgba(0,0,0,.2);
      transform: translateY(6px);
      transition-duration: .1s;
    }
  }
  .notice {
    text-align: center;
    text-transform: uppercase;
    /* 背景グラデーションを指定・幅を 200% にしておく */
    background: linear-gradient(to right, #f00 0%, #f80 14.28%, #dd0 28.56%, #0d0 42.85%, #0dd 57.14%, #00f 71.42%, #e0e 85.71%, #f00 100%) 0% center / 200% auto;
    /* 背景画像を文字でマスクする */
            background-clip: text;
    -webkit-background-clip: text;
    /* 文字色を透明にできればよく color: transparent でも color: rgba(0, 0, 0, 0) でも可 */
    -webkit-text-fill-color: transparent;
    /* アニメーション指定 */
    animation: notice 4s linear infinite;
  }
  
  /* 背景の横位置をズラす */
  @keyframes notice {
    to { background-position-x: 200%; }
  }

  select {
    height: 30px;
    width: 200px;
    margin: 5px;
  }

  label {
    color: $color_white;
  }

}
