.account-page {
  .account-page__inner {
    width: 980px;
    margin: 60px auto;
    padding: 60px;
    background-color: #5267aa;
    border: 1px solid #ddd;
    border-radius: 20px;

    .account-page__inner--left, .account-page__inner--right {
      float: left;
      width: 50%;
    }
    &:after {
      clear: both;
      content: "";
      display: block;
    }
  }

  .account-page__header {
    h2 {
      margin-bottom: 10px;
      letter-spacing: 3px;
      font-size: 25px;
      font-weight: 200;

      &:after {
        content: '';
        display: block;
        width: 60px;
        margin-top: 5px;
        border-bottom: 1px solid black;
      }
    }

    h5 {
      margin-bottom: 20px;
      font-size: 14px;
      font-weight: 200;
    }

    .btn {
      color: #5267aa;
    }

    .btn:hover {
      color: #fff;
    }
  }

  .field {
    margin-bottom: 10px;

    .field-label {
      padding: 10px 0;
      letter-spacing: 1px;
      font-size: 14px;
      font-weight: 200;

      i {
        font-size: 11px;
      }
    }

    .field-input {
      input {
        width: 100%;
        padding: 10px;
        letter-spacing: 1px;
      }
    }
  }

  .btn {
    display: inline-block;
    height: 50px;
    padding: 0 30px;
    line-height: 50px;
    letter-spacing: 1px;
    text-align: center;
    border: none;
    border-radius: 2px;
    box-shadow: 0 6px 0 #394588, 0 12px 0 rgba(107, 42, 42, 0.2);
    transition: color .3s, background .3s, box-shadow .3s, transform 0.3s;
  }
  .btn:hover {
    background: #2655ac;
    box-shadow: 0 3px 0 #072344, 0 6px 0 rgba(0,0,0,.2);
    transform: translateY(3px);
  }
  .btn:active {
    color: #ddd;
    background: #072344;
    box-shadow: 0 0 0 #394588, 0 0 0 rgba(0,0,0,.2);
    transform: translateY(6px);
    transition-duration: .1s;
  }


  input[type='submit'] {
    float: left;
    margin-top: 20px;
    color: #fff;
    background-color: #0c169c;
  }

  .field-label {
    .field_with_errors {
      display: inline-block;
      color: #d65f4c;
      font-weight: 400;
    }
  }

  .field-input {
    .field_with_errors {
      position: relative;

      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 5px;
        background-color: #d65f4c;
      }
    }
  }
}

.user_log {
  display: inline-block;
  color: #5267aa;
  height: 50px;
  padding: 0 30px;
  line-height: 50px;
  letter-spacing: 1px;
  text-align: center;
  border: none;
  border-radius: 2px;
  box-shadow: 0 6px 0 #071879, 0 12px 0 rgba(107, 42, 42, 0.2);
  transition: color .3s, background .3s, box-shadow .3s, transform 0.3s;
}
.user_log:hover {
  color: #fff;
  background: #2655ac;
  box-shadow: 0 3px 0 #072344, 0 6px 0 rgba(0,0,0,.2);
  transform: translateY(3px);
}
.user_log:active {
  color: #ddd;
  background: #072344;
  box-shadow: 0 0 0 #394588, 0 0 0 rgba(0,0,0,.2);
  transform: translateY(6px);
  transition-duration: .1s;
}


#error_explanation {
  margin: 20px 0;
  padding: 20px 30px;
  border: 1px solid #ddd;
  border-radius: 2px;

  h2 {
    margin-bottom: 10px;
    color: #d65f4c;
    font-size: 14px;
  }

  ul {
    margin: 0;
    padding-left: 17px;
    list-style: square;
  }

  li {
    margin: 0;
    padding: 0;
    font-size: 13px;
  }
}
